// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#qr_code {
  width: 100%
}

#notice {
  color: white !important;
  width: 100%;
  text-align: center;
}

#card-button-qr-code {
  
}

#card-button-contacts-save-ios {
  
}

#card-button-contacts-save-android {
  
}
