// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#qr_code {
  width: 100%
}

$card-height: 900px;
$card-width: 800px;

$card-button-width: $card-width;
$card-button-height: 100px;
$card-button-font-height: 50px;
$card-button-padding-top: 40px;

.card-button {
  position: absolute;
  width: $card-button-width;
  height: $card-button-height - $card-button-padding-top;
  background-color: white;
  text-align: center;
  font-size: $card-button-font-height;
  padding-top: $card-button-padding-top;
  font-family: 'Monda';
  text-decoration: none;
}

.card-button, .card-button:visited {
  color: black;
}

.card-button:active {
  color: #999;
}

#card-button-qr-code {
  
}

#card-button-contacts-save-ios {
  
}

#card-button-contacts-save-android {
  
}
