body {
  background-color: #fff;
  color: #333;
  font-family: 'Oxygen', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Oxygen', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: black;
  width: 100%;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

$card-height: 900px;
$card-width: 800px;

$card-button-width: $card-width;
$card-button-height: 100px;
$card-button-font-height: 50px;
$card-button-padding-top: 40px;

.card-button {
  position: relative;
  width: $card-button-width;
  height: $card-button-height - $card-button-padding-top;
  background-color: white;
  text-align: center;
  font-size: $card-button-font-height;
  padding-top: $card-button-padding-top;
  font-family: 'Monda';
  text-decoration: none;
  margin-left: 'auto';
  margin-right: 'auto';
  display: 'block';
}

.card-button, .card-button:visited {
  color: black;
}

.card-button:active {
  color: #999;
}

.card-button-last {
  top: $card-button-padding-top;
  background-color: #fffff0;
}

body {
  background-color: #d0d0d0;
}
.new-title {
  font-size: 40px;
}
 
.field label {
  font-size: 30px;
}

.field input {
  width: $card-button-width;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}
